[Unit]
Description=Clean auto-novel tmp file
Requires=auto-novel-tmp-cleanup.service

[Timer]
OnCalendar=*-*-* 04:00:00
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
