[Unit]
Description=Deploy %i Docker Compose application
Wants=network-online.target
After=network-online.target docker.service
Requires=docker.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/root/%i
ExecStartPre=/usr/bin/git pull --ff-only
ExecStartPre=/usr/bin/docker compose pull
ExecStart=/usr/bin/docker compose up -d
