[Unit]
Description=Prune unused Docker images
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/docker image prune -f
